/* Cache la boîte d'information par défaut */
#info-box {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    display: none; /* Rendre invisible par défaut, le JS le rendra visible */
}

/* Style de la carte */
#metro-map {
    position: relative;
    display: inline-block;
}

/* Styles pour les points de station si vous les dessinez manuellement (ex: en SVG) */
.station-point:hover {
    cursor: pointer;
    /* Ajoutez des effets visuels au survol */
}